<!DOCTYPE html>
<html>

  <head>
    <title>Pyblish | Plug-in driven automation framework for content</title>
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a class="home" href="/"><img src="/images/logo.png" class="logo"></a>

        <nav>
          <a href="/">Home</a>
          <a href="#software">Software</a>
          <a href="mailto:marcus@abstractfactory.io">Contact</a>
        </nav>

      </header>

      <section>
        {% for chapter in site.chapters %}
          {% if chapter.draft %}{% else %}
            {{ chapter.content }}
          {% endif %}
        {% endfor %}
      </section>
    </div>
  </body>

</html>
