<!DOCTYPE html>
<html>

  <head>
    <title>Abstract Factory | Workflow automation for film and games</title>
    {% include head.html %}
  </head>

  <body>
    <div class="wrapper">
      <header>
        <a class="home" href="/"><img src="/images/logo.png" class="logo"></a>
      </header>

      <section>
        {% for chapter in site.chapters %}
          {% if chapter.draft %}{% else %}
            {{ chapter.content }}
          {% endif %}
        {% endfor %}
      </section>
    </div>
  </body>

</html>
